{% extends 'base.html' %}


{% block content %}
       
        <section class="m-0">
            <div class="">
                <div class="row ">
                    <div class="d-block mx-auto col-lg-8 col-md-12 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="item7-card-img">
                                    <img src="{{ single_post.thumbnail.url }}" alt="img" class="w-100">
                                    <div class="item7-card-text">
                                        <span class="badge badge-info">latest</span>
                                    </div>
                                </div>
                                <div class="item7-card-desc d-flex mb-2 mt-3">
                                    <a href="#"> <i class="fa fa-calendar-o text-muted mrmx-2-2 "></i>Nov-28-2018</a>
                                    
                                    <div class="ml-auto">
                                        <a href="#"> <i class="fa fa-user text-muted mr-2"></i>{{ single_post.author }}</a>
                                    </div>
                                </div>

                                <a href="#" class="text-dark"><h2 class="font-weight-semibold">{{ single_post.title }}</h2></a>
                                <p>{{ single_post.discription }}</p>
                                <p>{{ single_post.step1 }}</p>
                                <p>{{ single_post.step2 }}</p>
                                <p>{{ single_post.step3 }}</p>
                                <p>{{ single_post.step4 }}</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>


{% endblock  %}